.app {
  height: 100%;
  background-color: #F2F3F7;
  .topbar-wrapper {
    margin-bottom: 16px;
  }
  .main {
    height: calc(100% - 61px);
    margin: 0 auto;
    width: 1200px;
    display: flex;
    align-items: start;
    .sidebar-wrapper {
      width: 200px;
      border-radius: 4px;
      margin-right: 16px;
      background-color: #fff;
      padding: 20px 24px;
    }
    .content-wrapper {
      border-radius: 4px;
      flex-grow: 1;
      height: 100%;
      overflow: auto;
      .inner {
        background: #fff;
        padding: 20px 24px;
      }
    }
  }
  .border-shadow {
    box-shadow: 0 2px 5px 0 rgba(83, 128, 136, 0.04);
  }
}